.header
    padding-top: 5px
    padding-bottom: 5px
    border-bottom: 1px solid rgba(255,255,255,0.1)

    .nav-item
        margin-right: 14px
        &:last-child
            margin-right: 0

    &__btn
        text-decoration: none !important
        display: block
        &--icon
            color: #fff !important
            padding: 0px 5px
            letter-spacing: 0.5px
            i
                color: #fff
                margin-right: 5px

        &--border
            color: #808087 !important
            border: 1px solid #808087
            border-radius: 20px
            padding: 3px 34px
            transition: 0.3s
            &:hover
                color: #fff !important
                border-color: #fff !important

    +max-screen(767.98px)
        .nav-item
            margin-right: 0
        &__btn
            margin-bottom: 10px
