.wallets {
  margin-bottom: 35px;
  color: white;

  &--demo {
    .wallets__content {
      background: $demo-color;
    }
    .wallets__tabs {
      background: $demo-color;
    }
    .wallets__tab {
      background: rgba(black, 0.1);
    }
    .wallets__tab.active {
      background: $demo-color;
    }
  }

  &__tabs {
    display: flex;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px 5px 0 0;

    @media screen and (max-width: $mobile) {
      font-size: 14px;
    }
  }
  &__tab {
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    color: rgba(white, .5);
    background: rgba(221, 216, 216, 0.1);
    display: block;
    flex: 1;
    padding: 0 5px;
    &:hover, &:focus {
      color: white;
      text-decoration: none;
    }
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
    }
    &.active {
      color: white;
      background: #777777;
    }

    @media screen and (max-width: $mobile) {
      line-height: 45px;
    }

  }
  &__content {
    background: $dark;
    padding: 25px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    @media screen and (max-width: $mobile) {
      padding: 15px;
    }
  }
  &__terms {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  &__term {
    margin-bottom: 10px;
  }
  &__btn {
    min-width: 240px;
  }
  &__row {
    display: flex;
    @media screen and (max-width: $grid-md) {
      flex-direction: column;
    }
    p {
      font-size: 13px;
    }
  }
  &__col {
    flex: 1;
    &:first-child {
      max-width: 50%;
      @media screen and (max-width: $grid-md) {
        max-width: 100%;
      }
    }
  }
  &__or {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 35px;
  }
  &__red {
    color: red;
    font-weight: 500;
  }
  &__input {
    width: 100%;
    margin: 15px auto;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 0 15px;
    font-size: 14px;
  }
  &__text {
    margin-top: 15px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
  }
  &__note {
    margin: 20px 0;
    font-size: 13px;
    p {
      margin-bottom: 5px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin-bottom: 5px;
      &:before {
        content: '-';
        padding-right: 5px;
      }
    }
  }
  &__btc {
    display: flex;
    @media screen and (max-width: $grid-md) {
      flex-direction: column;
    }
  }
  &__btc-col {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 1;
    &:first-child {
    }
    &:last-child {
      margin-right: 0;
    }
    p {
      font-family: "Raleway", sans-serif;
      font-size: 18px;
    }
    img {
      margin: 0 auto;
    }
  }
  &__btc-field {
    display: flex;
    border-radius: 8px;
  }
  &__btc-wallet {
    flex: 1;
    color: black;
    background: white;
    line-height: 35px;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;


    @media screen and (max-width: $mobile) {
      word-wrap: break-word;
      line-height: 1;
      width: 160px;
    }


  }
  &__btc-btn {
    line-height: 30px;
    padding: 0 15px;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: red;
    color: black;
    font-weight: 700;
    font-size: 14px;

  }
  &__wallet {
    font-size: 13px;
    word-break: break-all;
  }
}

.wallets-title {
  font-size: 24px;
  font-weight: 700;
}