@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../../fonts/iconic.eot');
    src: url('../../fonts/iconic.eot?#iefix') format('eot'),
    url('../../fonts/iconic.woff') format('woff'),
    url('../../fonts/iconic.ttf') format('truetype'),
    url('../../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #000;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";

    @if $filename == check {
    $char: "\E001";
}
    @if $filename == cross {
    $char: "\E002";
}
    @if $filename == user {
    $char: "\E003";
}

@return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
&:#{$insert} {

    content: iconic-char($filename);
}
}

.iconic--check {
    @include iconic(check);
}
.iconic--cross {
    @include iconic(cross);
}
.iconic--user {
    @include iconic(user);
}