.balance
    width: 100%
    text-align: center
    color: #fff
    background: linear-gradient(135deg, #db1326 0%,#b61e49 25%,#6d3492 50%,#0055ff 100%)
    border-radius: 3px
    padding: 40px 20px 45px
    margin-bottom: 30px
    &__tit
        font-size: 22px
        font-weight: 500
        margin-bottom: 35px
        line-height: 20px
        letter-spacing: 0.5px
    &__txt
        font-size: 16px
        font-weight: bold
        background-color: rgba(0,0,0,0.25)
        // height: 40px
        padding: 7px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 3px