.tsCard
    width: 100%
    padding: 40px
    border-radius: 3px
    background-color: #fff
    margin-bottom: 30px
    &_thin
        padding: 40px 20px

    &__header
        font-size: 22px
        font-weight: 500
        padding-bottom: 40px
        line-height: 22px
        letter-spacing: 1px
    &__body


    +max-screen(576px)
        padding: 20px
