.face
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-items: center
    justify-content: space-between
    min-height: calc(100vh - 150px)
    padding: 45px 20px 165px
    width: 100%
    &__img
        max-width: 90%
    &__txt
        //margin-top: -90px
    &__title
        font-size: 72px
        line-height: 72px
        font-weight: bold
        color: #fff
        text-align: center
        margin-bottom: 10px
    &__sub
        font-size: 22px
        font-weight: 500
        color: #fff
        text-align: center
    &__btn
        border: none
        outline: none
        width: 100%
        color: #fff
        text-decoration: none
        margin-top: 20px
        font-size: 22px
        font-weight: bold
        padding: 15px
        border-radius: 40px
        background: linear-gradient(to bottom, #208fff, #0042d1)
        text-align: center
        cursor: pointer
        box-shadow: 0 20px 20px -10px rgba(0,0,0,0.4)
        transition: 0.3s
        width: 370px
        max-width: 90%
        &:hover
            box-shadow: 0 20px 20px -10px rgba(0,0,0,0.2)

    +max-screen(768px)
        justify-content: flex-start
        padding-top: 0
        padding-bottom: 60px
        &__title
            font-size: 48px
            line-height: 48px
        &__txt
            margin-top: 40px
            margin-bottom: 50px
    +max-screen(480px)
        &__title
            font-size: 36px
