.phList
    display: inline-flex
    // flex-wrap: wrap
    width: 100%
    color: #28272e
    overflow: auto
    &::-webkit-scrollbar-track
        background: transparent

    &::-webkit-scrollbar
        width: 10px
        height: 10px

    &::-webkit-scrollbar-thumb
        background-color: #3744c8
        cursor: pointer
        border-radius: 5px
    &__item
        width: 33%
        min-width: 195px
        padding: 10px 25px 0
        border-left: 1px solid #bec5d6
    &__tit
        font-size: 16px
        font-weight: bold
        margin-bottom: 10px
    &__pr
        background: linear-gradient(135deg, #db1326 0%,#b61e49 25%,#6d3492 50%,#0055ff 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        margin-bottom: 10px
        p
            font-size: 30px
            font-weight: bold
            line-height: 40px
            padding: 0
            margin: 0
        span
            font-size: 60px
            line-height: 1
        b
            display: block
            font-weight: bold
            line-height: 25px
            text-transform: uppercase
    &__dt
        font-size: 14px
        font-weight: 500
    &__bottom
        text-align: center
        text-transform: uppercase
        color: #bec5d6
        font-size: 12px
        font-weight: 500
        padding-top: 5px
        padding-bottom: 15px
        margin-top: 25px
        margin-left: -30px
        margin-right: -30px
        border-top: 1px solid #bec5d6
