.regForm
    width: 100%
    max-width: 370px
    border-radius: 3px
    background-color: #fff
    padding: 40px 20px
    &__tit
        font-size: 24px
        font-weight: bold
        text-align: center
    &__form
        max-width: 270px
        margin: 0 auto
        padding-top: 40px
        .form-control
            margin-bottom: 20px
    &__btn
        border: none
        outline: none
        width: 100%
        color: #fff
        margin-top: 20px
        font-size: 18px
        font-weight: bold
        padding: 5px
        border-radius: 20px
        background: linear-gradient(to bottom, #208fff, #0042d1)
        cursor: pointer
        box-shadow: 0 20px 20px -10px rgba(0,0,0,0.4)
        transition: 0.3s
        &:hover
            box-shadow: 0 20px 20px -10px rgba(0,0,0,0.2)
    &__cite
        text-align: center
        font-size: 14px
        font-weight: 500
        margin-top: 30px
        color: #808087
        a
            margin-left: 5px
            color: #808087
            text-decoration: underline
            // border-bottom: 1px solid #808087
            &:hover
                text-decoration: none
