.wallet
    &__tit
        font-size: 22px
        font-weight: 500
        margin: 0
        padding: 0
    &__key
        max-width: 380px
        margin-top: 20px
    &__img
        display: flex
        align-items: flex-start
        justify-content: flex-end
    &__select
        margin-top: -10px
        margin-bottom: 35px
        select
            max-width: 230px
    +max-screen(576px)
        &__img
            display: block
            margin-top: 20px
